* {
    /* помогает правильно считать ширину и высоту элементов */
    box-sizing: border-box;
}

/* шапка */

.header {
    margin-top: 35px;
    display: flex;
    align-items: center;
    width: 1220px;
    margin-left: 200px;
    padding: 0;
}

.logo {
    margin-top: 0;
    margin-bottom: 37px;
    margin-left: 6px;
    margin-right: 87px;
}

.logo-text {
    margin-left: 22px;
    margin-top: 7.37px;
    margin-bottom: 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
}

.address {
    display: flex;
    margin-top: 24px;
    margin-bottom: 64px;
    margin-right: 52px;
    width: 168px;
    height: 35.19px;
}

.address-img {
    margin-right: 10px;
}

.address-text {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    width: 142px;
    height: 22px;
    margin: 0;
    margin-top: 9px;
    align-items: center;
    color: #a8adbe;
}

.operating-mode {
    display: flex;
    margin-top: 25px;
    margin-bottom: 35px;
    margin-right: 87px;
}

.operating-mode-img {
    margin-right: 9px;
}

.operating-mode-text {
    margin: 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #a8adbe;
}

.operating-mode-text-bold {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: #a8adbe;
}

.social-network {
    margin-top: 25px;
    margin-bottom: 37px;
    width: 66.02px;
    height: 61.95px;
    margin-right: 69px;
}

.social-network-img {
    margin-bottom: 8px;
}

.social-network-img11 {
    margin-left: 8px;
}

.contacts {
    margin-right: 0;
    margin-bottom: 18px;
    margin-top: 27px;
    width: 239px;
    height: 94.09px;
    align-items: center;
}

.telephone {
    margin-left: 19px;
    align-items: center;
    display: flex;
    margin-bottom: 7px;
}

.telephone-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    margin-left: 7px;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 0;
}

.contacts-button {
    width: 234px;
    height: 49px;
    background: #ffffff;
    border: 1px solid #8fd1e9;
    box-sizing: border-box;
    box-shadow: 0px 9px 16px rgba(0, 171, 225, 0.08);
    border-radius: 16px;
}

.contacts-link {
    text-decoration: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #31c3f2;
}

/* конец шапки */

/* экран 1 */

.screen {
    height: 747px;
    background-image: url(/img/doctor.png), url(/img/photo.png), url(/img/background.png);
    background-repeat: no-repeat;
    background-size: 428px, 1000px 488px, 100%;
    background-position: 850px 10px, 600px 10px, 0px 0px;
}

.link {
    padding-top: 23px;
    margin-left: 188px;
}

.link-screen {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #010101;
    text-decoration: none;
    padding-left: 40px;
}
.major-heading {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 56px;
    color: #ffffff;
    margin-left: 228px;
    margin-top: 58px;
}
.title {
    margin-left: 228px;
    margin-top: 15px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 141.9%;
    color: #ffffff;
}
.subtitle {
    margin-left: 228px;
    margin-top: 60px;
    font-family: "Bad Script", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 37px;
    color: #ffffff;
}
/* стрелочка */
.arrow-6 {
    margin-left: 228px;
    margin-top: 48px;
}
.arrow-6 svg {
    width: 40px;
    height: auto;
    margin: 0 2rem;
    cursor: pointer;
    overflow: visible;
}
.arrow-6 svg polygon,
.arrow-6 svg path {
    transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #ffffff;
}
.arrow-6 svg:hover polygon,
.arrow-6 svg:hover path {
    transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #31c3f2;
}
.arrow-6 svg:hover .arrow-6-pl {
    animation: arrow-6-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
.arrow-6 svg:hover .arrow-6-pl-fixed {
    animation: arrow-6-fixed-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}

@keyframes arrow-6-anim {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    5% {
        transform: translateX(-0.1rem);
    }
    100% {
        transform: translateX(1rem);
        opacity: 0;
    }
}
@keyframes arrow-6-fixed-anim {
    5% {
        opacity: 0;
    }
    20% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
/* конец стрелок */
/* кнопка */
.absolute-elements {
    position: absolute;
    top: 390px;
    right: 660px;
    z-index: 100;
}
.button-absolute {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 463px;
    right: 757px;
    z-index: 100;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(53.04deg, #3eb1db 9.83%, #8fd1e9 87.71%);
    border: none;
}
